<section class="ftco-section ftco-no-pt ftco-no-pb">
  <div class="container py-5" style="direction: rtl;">
    <div class="row">
      <div
        *ngFor="let catItem of selectedChildren"
        class="col-md-3 ftco-animate fadeInUp ftco-animated"
      >
        <a [routerLink]="['/category/',catItem.code]">
          <div
            class="
              project-wrap
              img
              d-flex
              align-items-center
              justify-content-center
            "
          >
          <img src="{{ catItem.image }}" />
            <div
              class="
                image-popup
                d-flex
                align-items-center
                justify-content-center
              "
            ></div>
            <div class="info">
              <h4>{{ catItem.title }}</h4>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
