<section
  class="hero-wrap hero-wrap-2"
  style="
    background-image: url(assets/images/xbg_1.jpg.pagespeed.ic.Ss_byfQjsg.jpg);
  "
>
  <div class="overlay"></div>
  <div class="overlay-2"></div>
  <div class="container">
    <div
      class="
        row
        no-gutters
        slider-text
        align-items-center
        justify-content-center
      "
    >
      <div class="col-md-9 ftco-animate pb-5 text-center">
        <p class="breadcrumbs">
          <span class="mr-2"
            ><a href="index.html">خانه <i class="fa fa-chevron-right"></i></a
          ></span>
          <span>درباره ما <i class="fa fa-chevron-right"></i></span>
        </p>
        <h1 class="mb-0 bread">درباره ما</h1>
      </div>
    </div>
  </div>
</section>
<section
  class="ftco-section ftco-about img"
  style="direction: rtl; text-align: right"
>
  <div class="container">
    <div class="row mb-5">
      <div class="col-md d-flex align-items-stretch ftco-animate">
        <div class="media block-6 w-100 services d-block text-center">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-design-tools"></span>
          </div>
          <div class="media-body py-md-4">
            <h3>Design Process</h3>
          </div>
        </div>
      </div>
      <div class="col-md d-flex align-items-stretch ftco-animate">
        <div class="media block-6 w-100 services d-block text-center">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-supervised"></span>
          </div>
          <div class="media-body py-md-4">
            <h3>Supervission</h3>
          </div>
        </div>
      </div>
      <div class="col-md d-flex align-items-stretch ftco-animate">
        <div class="media block-6 w-100 services d-block text-center">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-accounting"></span>
          </div>
          <div class="media-body py-md-4">
            <h3>Budget Planning</h3>
          </div>
        </div>
      </div>
      <div class="col-md d-flex align-items-stretch ftco-animate">
        <div class="media block-6 w-100 services d-block text-center">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-brickwall"></span>
          </div>
          <div class="media-body py-md-4">
            <h3>Build A Home</h3>
          </div>
        </div>
      </div>
      <div class="col-md d-flex align-items-stretch ftco-animate">
        <div class="media block-6 w-100 services d-block text-center">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-living-room"></span>
          </div>
          <div class="media-body py-md-4">
            <h3>Furnished</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row d-flex">
      <div class="col-md-12 about-intro">
        <div class="row d-flex">
          <div class="col-md-6 d-flex align-items-stretch">
            <div
              class="
                img
                d-flex
                align-items-center align-self-stretch
                justify-content-center
              "
              style="
                background-image: url(assets/images/xabout.jpg.pagespeed.ic.mHp7ZrgPmr.jpg);
              "
            ></div>
          </div>
          <div class="col-md-6 pl-md-5">
            <div class="row justify-content-start pb-3 mt-5 md-md-0">
              <div class="col-md-12 heading-section ftco-animate">
                <span class="subheading">به اَپلای فای خوش آمدید</span>
                <h2 class="mb-4">اپلای فای دستیار مهاجرتی شما</h2>
                <p>
                  ما یک استارتاپ در حوضه امور مربوط به مهاجرت تحصیلی و کاری
                  میباشد که با بهره گیری از تکنولوژی نرم افزار و علم هوش مصنوعی
                  به افرادی که قصد مهاجرت دارند کمک میکند.
                </p>
                <div class="progress-wrap ftco-animate mt-5">
                  <h3>مشاوره مهاجرتی</h3>
                  <div class="progress">
                    <div
                      class="progress-bar color-1"
                      role="progressbar"
                      aria-valuenow="90"
                      aria-valuemin="0"
                      aria-valuemax="100"
                      style="width: 95%"
                    >
                      <span>۹۵٪</span>
                    </div>
                  </div>
                </div>
                <div class="progress-wrap ftco-animate">
                  <h3>مشاوره زبان</h3>
                  <div class="progress">
                    <div
                      class="progress-bar color-1"
                      role="progressbar"
                      aria-valuenow="90"
                      aria-valuemin="0"
                      aria-valuemax="100"
                      style="width: 98%"
                    >
                      <span>۹۸٪</span>
                    </div>
                  </div>
                </div>
                <div class="progress-wrap ftco-animate">
                  <h3>آماده سازی برای مهاجرت</h3>
                  <div class="progress">
                    <div
                      class="progress-bar color-1"
                      role="progressbar"
                      aria-valuenow="90"
                      aria-valuemin="0"
                      aria-valuemax="100"
                      style="width: 90%"
                    >
                      <span>۹۰٪</span>
                    </div>
                  </div>
                </div>
                <div class="progress-wrap ftco-animate">
                  <h3>کاریابی</h3>
                  <div class="progress">
                    <div
                      class="progress-bar color-1"
                      role="progressbar"
                      aria-valuenow="90"
                      aria-valuemin="0"
                      aria-valuemax="100"
                      style="width: 92%"
                    >
                      <span>۹۲٪</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section
  class="ftco-section ftco-counter img"
  id="section-counter"
  style="
    background-image: url(assets/images/xbg_1.jpg.pagespeed.ic.Ss_byfQjsg.jpg);
    direction: rtl;
    text-align: right;
  "
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 d-flex counter-wrap ftco-animate">
        <div class="block-18 mb-xl-0 mb-2 d-flex align-items-center">
          <div class="icon d-flex align-items-center justify-content-center">
            <span class="flaticon-compass-1"></span>
          </div>
          <div class="text pr-3">
            <strong class="number" data-number="1050">0</strong>
            <span>Project Completed</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex counter-wrap ftco-animate">
        <div class="block-18 mb-xl-0 mb-2 d-flex align-items-center">
          <div class="icon d-flex align-items-center justify-content-center">
            <span class="flaticon-compass-1"></span>
          </div>
          <div class="text pr-3">
            <strong class="number" data-number="500">0</strong>
            <span>Licensed Architect</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex counter-wrap ftco-animate">
        <div class="block-18 mb-xl-0 mb-2 d-flex align-items-center">
          <div class="icon d-flex align-items-center justify-content-center">
            <span class="flaticon-compass-1"></span>
          </div>
          <div class="text pr-3">
            <strong class="number" data-number="65">0</strong>
            <span>Years of Experienced</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex counter-wrap ftco-animate">
        <div class="block-18 mb-xl-0 mb-2 d-flex align-items-center">
          <div class="icon d-flex align-items-center justify-content-center">
            <span class="flaticon-compass-1"></span>
          </div>
          <div class="text pr-3">
            <strong class="number" data-number="71650">0</strong>
            <span>Happy Customers</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="ftco-section bg-light">
  <div class="container">
    <div class="row justify-content-center no-gutters">
      <div class="col-md-12 heading-section text-center ftco-animate mb-5">
        <span class="subheading">تیم ما</span>
        <h2 class="mb-2">Expert Team</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-3 ftco-animate">
        <div class="staff">
          <div class="img-wrap d-flex align-items-stretch justify-content-end">
            <div
              class="img align-self-stretch"
              style="
                background-image: url(assets/images/xteam-1.jpg.pagespeed.ic.XdGG32VxIm.jpg);
              "
            >
              <ul class="ftco-social">
                <li class="ftco-animate d-flex">
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="fa fa-twitter"></span
                  ></a>
                </li>
                <li class="ftco-animate d-flex">
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="fa fa-facebook"></span
                  ></a>
                </li>
                <li class="ftco-animate d-flex">
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="fa fa-google"></span
                  ></a>
                </li>
                <li class="ftco-animate d-flex">
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="fa fa-instagram"></span
                  ></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="text d-flex align-items-center pt-3">
            <div class="desc">
              <h3 class="mb-2">John Wilson</h3>
              <span class="position mb-4">Architect</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3 ftco-animate">
        <div class="staff">
          <div class="img-wrap d-flex align-items-stretch justify-content-end">
            <div
              class="img align-self-stretch"
              style="
                background-image: url(assets/images/xteam-2.jpg.pagespeed.ic.fXsip8GMni.jpg);
              "
            >
              <ul class="ftco-social">
                <li class="ftco-animate d-flex">
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="fa fa-twitter"></span
                  ></a>
                </li>
                <li class="ftco-animate d-flex">
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="fa fa-facebook"></span
                  ></a>
                </li>
                <li class="ftco-animate d-flex">
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="fa fa-google"></span
                  ></a>
                </li>
                <li class="ftco-animate d-flex">
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="fa fa-instagram"></span
                  ></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="text d-flex align-items-center pt-3">
            <div class="desc">
              <h3 class="mb-2">Robert Wills</h3>
              <span class="position mb-4">Architect</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3 ftco-animate">
        <div class="staff">
          <div class="img-wrap d-flex align-items-stretch justify-content-end">
            <div
              class="img align-self-stretch"
              style="
                background-image: url(assets/images/xteam-3.jpg.pagespeed.ic.bI992H6H3o.jpg);
              "
            >
              <ul class="ftco-social">
                <li class="ftco-animate d-flex">
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="fa fa-twitter"></span
                  ></a>
                </li>
                <li class="ftco-animate d-flex">
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="fa fa-facebook"></span
                  ></a>
                </li>
                <li class="ftco-animate d-flex">
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="fa fa-google"></span
                  ></a>
                </li>
                <li class="ftco-animate d-flex">
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="fa fa-instagram"></span
                  ></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="text d-flex align-items-center pt-3">
            <div class="desc">
              <h3 class="mb-2">Mike Smith</h3>
              <span class="position mb-4">Architect</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3 ftco-animate">
        <div class="staff">
          <div class="img-wrap d-flex align-items-stretch justify-content-end">
            <div
              class="img align-self-stretch"
              style="
                background-image: url(assets/images/xteam-4.jpg.pagespeed.ic.pE7NVMmqxW.jpg);
              "
            >
              <ul class="ftco-social">
                <li class="ftco-animate d-flex">
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="fa fa-twitter"></span
                  ></a>
                </li>
                <li class="ftco-animate d-flex">
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="fa fa-facebook"></span
                  ></a>
                </li>
                <li class="ftco-animate d-flex">
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="fa fa-google"></span
                  ></a>
                </li>
                <li class="ftco-animate d-flex">
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="fa fa-instagram"></span
                  ></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="text d-flex align-items-center pt-3">
            <div class="desc">
              <h3 class="mb-2">Adrian Henderson</h3>
              <span class="position mb-4">Architect</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3 ftco-animate">
        <div class="staff">
          <div class="img-wrap d-flex align-items-stretch justify-content-end">
            <div
              class="img align-self-stretch"
              style="
                background-image: url(assets/images/xteam-5.jpg.pagespeed.ic.Ec2TDde-9P.jpg);
              "
            >
              <ul class="ftco-social">
                <li class="ftco-animate d-flex">
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="fa fa-twitter"></span
                  ></a>
                </li>
                <li class="ftco-animate d-flex">
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="fa fa-facebook"></span
                  ></a>
                </li>
                <li class="ftco-animate d-flex">
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="fa fa-google"></span
                  ></a>
                </li>
                <li class="ftco-animate d-flex">
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="fa fa-instagram"></span
                  ></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="text d-flex align-items-center pt-3">
            <div class="desc">
              <h3 class="mb-2">John Wilson</h3>
              <span class="position mb-4">Architect</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3 ftco-animate">
        <div class="staff">
          <div class="img-wrap d-flex align-items-stretch justify-content-end">
            <div
              class="img align-self-stretch"
              style="background-image: url(assets/images/team-6.jpg)"
            >
              <ul class="ftco-social">
                <li class="ftco-animate d-flex">
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="fa fa-twitter"></span
                  ></a>
                </li>
                <li class="ftco-animate d-flex">
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="fa fa-facebook"></span
                  ></a>
                </li>
                <li class="ftco-animate d-flex">
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="fa fa-google"></span
                  ></a>
                </li>
                <li class="ftco-animate d-flex">
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="fa fa-instagram"></span
                  ></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="text d-flex align-items-center pt-3">
            <div class="desc">
              <h3 class="mb-2">Robert Wills</h3>
              <span class="position mb-4">Architect</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3 ftco-animate">
        <div class="staff">
          <div class="img-wrap d-flex align-items-stretch justify-content-end">
            <div
              class="img align-self-stretch"
              style="
                background-image: url(assets/images/xteam-7.jpg.pagespeed.ic.bjrw31pWH6.jpg);
              "
            >
              <ul class="ftco-social">
                <li class="ftco-animate d-flex">
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="fa fa-twitter"></span
                  ></a>
                </li>
                <li class="ftco-animate d-flex">
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="fa fa-facebook"></span
                  ></a>
                </li>
                <li class="ftco-animate d-flex">
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="fa fa-google"></span
                  ></a>
                </li>
                <li class="ftco-animate d-flex">
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="fa fa-instagram"></span
                  ></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="text d-flex align-items-center pt-3">
            <div class="desc">
              <h3 class="mb-2">Mike Smith</h3>
              <span class="position mb-4">Graphic Designer</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3 ftco-animate">
        <div class="staff">
          <div class="img-wrap d-flex align-items-stretch justify-content-end">
            <div
              class="img align-self-stretch"
              style="background-image: url(assets/images/team-8.jpg)"
            >
              <ul class="ftco-social">
                <li class="ftco-animate d-flex">
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="fa fa-twitter"></span
                  ></a>
                </li>
                <li class="ftco-animate d-flex">
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="fa fa-facebook"></span
                  ></a>
                </li>
                <li class="ftco-animate d-flex">
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="fa fa-google"></span
                  ></a>
                </li>
                <li class="ftco-animate d-flex">
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="fa fa-instagram"></span
                  ></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="text d-flex align-items-center pt-3">
            <div class="desc">
              <h3 class="mb-2">Adrian Henderson</h3>
              <span class="position mb-4">SEO</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
