<div class="categories">
  <li class="{{ getActiveClass('user/dashboard') }}">
    <a href="user/dashboard"
      ><i class="lnr lnr-home"></i>&nbsp;&nbsp;داشبورد</a
    >
  </li>
  <li class="{{ getActiveClass('user/pays') }}">
    <a href="user/pays"
      ><i class="lnr lnr-inbox"></i>&nbsp;&nbsp;پرداخت های شما</a
    >
  </li>
  <li class="{{ getActiveClass('user/messages') }}">
    <a href="user/messages"
      ><i class="lnr lnr-envelope"></i>&nbsp;&nbsp;پیام های شما</a
    >
  </li>
  <li class="{{ getActiveClass('user/orders') }}">
    <a href="user/orders"
      ><i class="lnr lnr-list"></i>&nbsp;&nbsp;سفارشات شما</a
    >
  </li>
  <li class="{{ getActiveClass('user/exit') }}">
    <a href="user/exit"><i class="lnr lnr-exit"></i>&nbsp;&nbsp;خروج</a>
  </li>
</div>
