<section class="ftco-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 ftco-animate
          fadeInUp
          ftco-animated blog-single">
        <h2 class="mb-3">20 Most Beautiful Architecture</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis,
          eius mollitia suscipit, quisquam doloremque distinctio perferendis et
          doloribus unde architecto optio laboriosam porro adipisci sapiente
          officiis nemo accusamus ad praesentium? Esse minima nisi et. Dolore
          perferendis, enim praesentium omnis, iste doloremque quia officia
          optio deserunt molestiae voluptates soluta architecto tempora.
        </p>
        <p>
          <img
            src="images/xbg_1.jpg.pagespeed.ic.Ss_byfQjsg.jpg"
            alt=""
            class="img-fluid"
          />
        </p>
        <p>
          Molestiae cupiditate inventore animi, maxime sapiente optio, illo est
          nemo veritatis repellat sunt doloribus nesciunt! Minima laborum magni
          reiciendis qui voluptate quisquam voluptatem soluta illo eum ullam
          incidunt rem assumenda eveniet eaque sequi deleniti tenetur dolore
          amet fugit perspiciatis ipsa, odit. Nesciunt dolor minima esse vero ut
          ea, repudiandae suscipit!
        </p>
        <h2 class="mb-3 mt-5">#2. Creative WordPress Themes</h2>
        <p>
          Temporibus ad error suscipit exercitationem hic molestiae totam
          obcaecati rerum, eius aut, in. Exercitationem atque quidem tempora
          maiores ex architecto voluptatum aut officia doloremque. Error dolore
          voluptas, omnis molestias odio dignissimos culpa ex earum nisi
          consequatur quos odit quasi repellat qui officiis reiciendis incidunt
          hic non? Debitis commodi aut, adipisci.
        </p>
        <p>
          <img
            src="images/ximage_3.jpg.pagespeed.ic.jL0x2PAw5l.jpg"
            alt=""
            class="img-fluid"
          />
        </p>
        <p>
          Quisquam esse aliquam fuga distinctio, quidem delectus veritatis
          reiciendis. Nihil explicabo quod, est eos ipsum. Unde aut non tenetur
          tempore, nisi culpa voluptate maiores officiis quis vel ab consectetur
          suscipit veritatis nulla quos quia aspernatur perferendis, libero
          sint. Error, velit, porro. Deserunt minus, quibusdam iste enim veniam,
          modi rem maiores.
        </p>
        <div class="tag-widget post-tag-container mb-5 mt-5">
          <div class="tagcloud">
            <a href="#" class="tag-cloud-link">architect</a>
            <a href="#" class="tag-cloud-link">interior</a>
            <a href="#" class="tag-cloud-link">exterior</a>
            <a href="#" class="tag-cloud-link">design</a>
          </div>
        </div>
        <div class="about-author d-flex p-4 bg-light rounded">
          <div class="bio mr-5">
            <img
              src="images/xperson_1.jpg.pagespeed.ic.P4pHl6glbj.jpg"
              alt="Image placeholder"
              class="img-fluid mb-4"
            />
          </div>
          <div class="desc">
            <h3>George Washington</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus
              itaque, autem necessitatibus voluptate quod mollitia delectus aut,
              sunt placeat nam vero culpa sapiente consectetur similique,
              inventore eos fugit cupiditate numquam!
            </p>
          </div>
        </div>
        <div class="pt-5 mt-5">
          <h3 class="mb-5" style="font-size: 28px; font-weight: bold">
            6 Comments
          </h3>
          <ul class="comment-list">
            <li class="comment">
              <div class="vcard bio">
                <img
                  src="images/xperson_1.jpg.pagespeed.ic.P4pHl6glbj.jpg"
                  alt="Image placeholder"
                />
              </div>
              <div class="comment-body">
                <h3>John Doe</h3>
                <div class="meta">October 10, 2020 at 3:03pm</div>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Pariatur quidem laborum necessitatibus, ipsam impedit vitae
                  autem, eum officia, fugiat saepe enim sapiente iste iure! Quam
                  voluptas earum impedit necessitatibus, nihil?
                </p>
                <p><a href="#" class="reply">Reply</a></p>
              </div>
            </li>
            <li class="comment">
              <div class="vcard bio">
                <img
                  src="images/xperson_1.jpg.pagespeed.ic.P4pHl6glbj.jpg"
                  alt="Image placeholder"
                />
              </div>
              <div class="comment-body">
                <h3>John Doe</h3>
                <div class="meta">October 10, 2020 at 3:03pm</div>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Pariatur quidem laborum necessitatibus, ipsam impedit vitae
                  autem, eum officia, fugiat saepe enim sapiente iste iure! Quam
                  voluptas earum impedit necessitatibus, nihil?
                </p>
                <p><a href="#" class="reply">Reply</a></p>
              </div>
              <ul class="children">
                <li class="comment">
                  <div class="vcard bio">
                    <img
                      src="images/xperson_1.jpg.pagespeed.ic.P4pHl6glbj.jpg"
                      alt="Image placeholder"
                    />
                  </div>
                  <div class="comment-body">
                    <h3>John Doe</h3>
                    <div class="meta">October 10, 2020 at 3:03pm</div>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Pariatur quidem laborum necessitatibus, ipsam impedit
                      vitae autem, eum officia, fugiat saepe enim sapiente iste
                      iure! Quam voluptas earum impedit necessitatibus, nihil?
                    </p>
                    <p><a href="#" class="reply">Reply</a></p>
                  </div>
                  <ul class="children">
                    <li class="comment">
                      <div class="vcard bio">
                        <img
                          src="images/xperson_1.jpg.pagespeed.ic.P4pHl6glbj.jpg"
                          alt="Image placeholder"
                        />
                      </div>
                      <div class="comment-body">
                        <h3>John Doe</h3>
                        <div class="meta">October 10, 2020 at 3:03pm</div>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing
                          elit. Pariatur quidem laborum necessitatibus, ipsam
                          impedit vitae autem, eum officia, fugiat saepe enim
                          sapiente iste iure! Quam voluptas earum impedit
                          necessitatibus, nihil?
                        </p>
                        <p><a href="#" class="reply">Reply</a></p>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="comment">
              <div class="vcard bio">
                <img
                  src="images/xperson_1.jpg.pagespeed.ic.P4pHl6glbj.jpg"
                  alt="Image placeholder"
                />
              </div>
              <div class="comment-body">
                <h3>John Doe</h3>
                <div class="meta">October 10, 2020 at 3:03pm</div>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Pariatur quidem laborum necessitatibus, ipsam impedit vitae
                  autem, eum officia, fugiat saepe enim sapiente iste iure! Quam
                  voluptas earum impedit necessitatibus, nihil?
                </p>
                <p><a href="#" class="reply">Reply</a></p>
              </div>
            </li>
          </ul>

          <div class="comment-form-wrap pt-5">
            <h3 class="mb-5" style="font-size: 28px; font-weight: bold">
              Leave a comment
            </h3>
            <form action="#" class="p-5 comment-form">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="name">Name *</label>
                    <input type="text" class="form-control" id="name" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="email">Email *</label>
                    <input type="email" class="form-control" id="email" />
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="website">Website</label>
                    <input type="url" class="form-control" id="website" />
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="message">Message</label>
                    <textarea
                      name=""
                      id="message"
                      cols="30"
                      rows="10"
                      class="form-control"
                    ></textarea>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <input
                      type="submit"
                      value="Post Comment"
                      class="btn py-3 px-4 btn-primary"
                    />
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-lg-4 sidebar ftco-animate
          fadeInUp
          ftco-animated pl-md-4">
        <div class="sidebar-box bg-light rounded">
          <form action="#" class="search-form">
            <div class="form-group">
              <span class="icon fa fa-search"></span>
              <input type="text" class="form-control" placeholder="Search..." />
            </div>
          </form>
        </div>
        <div class="sidebar-box ftco-animate
          fadeInUp
          ftco-animated">
          <div class="categories">
            <h3>Categories</h3>
            <li><a href="#">Planning</a></li>
            <li><a href="#">Interior Design</a></li>
            <li><a href="#">Exterior Design</a></li>
            <li><a href="#">Furniture</a></li>
            <li><a href="#">Building</a></li>
            <li><a href="#">Renovation</a></li>
            <li><a href="#">Decoration</a></li>
          </div>
        </div>
        <div class="sidebar-box ftco-animate">
          <h3>Recent Blog</h3>
          <div class="block-21 mb-4 d-flex">
            <a
              class="blog-img mr-4"
              style="
                background-image: url(images/ximage_1.jpg.pagespeed.ic.6h1AB4yQBT.jpg);
              "
            ></a>
            <div class="text">
              <h3 class="heading">
                <a href="#">20 Most Beautiful Architecture</a>
              </h3>
              <div class="meta">
                <div>
                  <a href="#"
                    ><span class="fa fa-calendar"></span> October 27, 2020</a
                  >
                </div>
                <div>
                  <a href="#"><span class="fa fa-user"></span> Admin</a>
                </div>
                <div>
                  <a href="#"><span class="fa fa-comment"></span> 19</a>
                </div>
              </div>
            </div>
          </div>
          <div class="block-21 mb-4 d-flex">
            <a
              class="blog-img mr-4"
              style="
                background-image: url(images/ximage_2.jpg.pagespeed.ic.XCNcQQx-J9.jpg);
              "
            ></a>
            <div class="text">
              <h3 class="heading">
                <a href="#">20 Most Beautiful Architecture</a>
              </h3>
              <div class="meta">
                <div>
                  <a href="#"
                    ><span class="fa fa-calendar"></span> October 27, 2020</a
                  >
                </div>
                <div>
                  <a href="#"><span class="fa fa-user"></span> Admin</a>
                </div>
                <div>
                  <a href="#"><span class="fa fa-comment"></span> 19</a>
                </div>
              </div>
            </div>
          </div>
          <div class="block-21 mb-4 d-flex">
            <a
              class="blog-img mr-4"
              style="
                background-image: url(images/ximage_3.jpg.pagespeed.ic.jL0x2PAw5l.jpg);
              "
            ></a>
            <div class="text">
              <h3 class="heading">
                <a href="#">20 Most Beautiful Architecture</a>
              </h3>
              <div class="meta">
                <div>
                  <a href="#"
                    ><span class="fa fa-calendar"></span> October 27, 2020</a
                  >
                </div>
                <div>
                  <a href="#"><span class="fa fa-user"></span> Admin</a>
                </div>
                <div>
                  <a href="#"><span class="fa fa-comment"></span> 19</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sidebar-box ftco-animate
          fadeInUp
          ftco-animated">
          <h3>Tag Cloud</h3>
          <div class="tagcloud">
            <a href="#" class="tag-cloud-link">architect</a>
            <a href="#" class="tag-cloud-link">draw</a>
            <a href="#" class="tag-cloud-link">aicad</a>
            <a href="#" class="tag-cloud-link">design</a>
            <a href="#" class="tag-cloud-link">interior</a>
            <a href="#" class="tag-cloud-link">exterior</a>
            <a href="#" class="tag-cloud-link">building</a>
            <a href="#" class="tag-cloud-link">plan</a>
          </div>
        </div>
        <div class="sidebar-box ftco-animate
          fadeInUp
          ftco-animated">
          <h3>Paragraph</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus
            itaque, autem necessitatibus voluptate quod mollitia delectus aut,
            sunt placeat nam vero culpa sapiente consectetur similique,
            inventore eos fugit cupiditate numquam!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
