<section
  class="hero-wrap hero-wrap-2"
>
  <div class="overlay"></div>
  <div class="overlay-2"></div>
  <div class="container">
    <div
      class="
        row
        no-gutters
        slider-text
        align-items-center
        justify-content-center
      "
    >
      <div class="col-md-9 ftco-animate pb-5 text-center">
        <p class="breadcrumbs">
          <span class="mr-2"
            ><a href="index.html">خانه <i class="fa fa-chevron-right"></i></a
          ></span>
          <span>تماس با ما <i class="fa fa-chevron-right"></i></span>
        </p>
        <h1 class="mb-0 bread">تماس با ما</h1>
      </div>
    </div>
  </div>
</section>
<section class="ftco-section bg-light">
  <div class="container" style="direction: rtl; text-align: right;">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="wrapper">
          <div class="row no-gutters">
            <div class="col-lg-6 ftco-animate">
              <div class="contact-wrap w-100 p-md-5 p-4">
                <h3>تماس با ما</h3>
                <p class="mb-4">
                  با ارسال پیام از طریق فرم پایین, در سریع ترین زمان میتوانید با ما در ارتباط باشید.
                </p>
                <div class="row mb-4">
                  <div class="col-md-4">
                    <div class="dbox w-100 d-flex align-items-start">
                      <div class="text">
                        <p>
                          <span>آدرس ایمیل : </span>
                          <a
                            href="mailto: info@applyify.ir"
                            ><span
                              class="__cf_email__"
                              data-cfemail="0e676068614e77617b7c7d677a6b206d6163"
                              >info@applyify.ir</span
                            ></a
                          >
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="dbox w-100 d-flex align-items-start">
                      <div class="text">
                        <p>
                          <span>شماره تماس : </span>
                          <a href="tel://09981518790">۰۹۹۸۱۵۱۸۷۹۰</a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <form id="contactForm" name="contactForm" class="contactForm">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control"
                          name="name"
                          id="name"
                          placeholder="نام و نام خانوادگی"
                        />
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <input
                          type="email"
                          class="form-control"
                          name="email"
                          id="email"
                          placeholder="آدرس ایمیل"
                        />
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control"
                          name="subject"
                          id="subject"
                          placeholder="موضوع پیام"
                        />
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <textarea
                          name="message"
                          class="form-control"
                          id="message"
                          cols="30"
                          rows="4"
                          placeholder="پیام شما"
                        ></textarea>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <input
                          type="submit"
                          value="ارسال پیام"
                          class="btn btn-primary"
                        />
                        <div class="submitting"></div>
                      </div>
                    </div>
                  </div>
                </form>
                <div class="w-100 social-media mt-5">
                  <h3>ما را در شبکه های اجتماعی دنبال کنید</h3>
                  <p>
                    <a href="#">اینستاگرام</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-stretch">
              <div
                class="info-wrap w-100 p-5 img"
                style="
                  background-image: url(assets/images/xabout-2.jpg.pagespeed.ic.26p7B_MxW7.jpg);
                "
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
