<section class="ftco-section">
  <div class="container">
    <div class="row rtl">
      <div
        class="col-lg-3 sidebar ftco-animate fadeInUp ftco-animated pl-md-4 rtl"
      >
        <div class="sidebar-box ftco-animate fadeInUp ftco-animated">
          <app-user-dashboard-sidebar></app-user-dashboard-sidebar>
        </div>
      </div>

      <div class="col-lg-9 ftco-animate fadeInUp ftco-animated blog-single rtl">
        <h2 class="mb-3">
          <span>پیام های شما</span>
        </h2>
        <p class="smooth-text">
          با استفاده از منوی سمت راست, میتوانید به امکانات پنل کاربری خود دسترسی
          داشته باشید در صورت نیاز به هرگونه راهنمایی لطفا فایل راهنمای کار با
          پنل کاربری اپلای‌فای را مشاهده فرمایید.
          <br />
          <br />
          <a href="#">برای مشاهده راهنما اینجا کلیک کنید</a>
        </p>
      </div>
    </div>
  </div>
</section>
