<div class="py-4">
  <div class="container">
    <div
      class="row d-flex align-items-start justify-content-center px-3 px-md-0"
    >
      <div class="col-md-3 col-lg-2 text-center">
        <a class="navbar-brand" href="index.html">
          <div>
            <img
              src="assets/images/Applyify.png"
              alt="Applyify"
              title="Applyify"
              width="200"
            />
          </div>
          <div>
            <span>
              <small>دستیار مهاجرتی شما</small>
            </span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<nav
  class="navbar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light"
  id="ftco-navbar"
  style="direction: rtl; text-align: right"
>
  <div class="container d-flex align-items-center">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#ftco-nav"
      aria-controls="ftco-nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="fa fa-bars"></span> منو
    </button>
    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav m-auto">
        <li class="nav-item active">
          <a routerLink="home" class="nav-link">خانه</a>
        </li>
        <li class="nav-item">
          <a routerLink="about" class="nav-link">درباره ما</a>
        </li>
        <li class="nav-item">
          <a routerLink="services" class="nav-link">خدمات</a>
        </li>
        <li class="nav-item">
          <a href="portfolio.html" class="nav-link">پورتفولیو</a>
        </li>
        <li class="nav-item">
          <a href="blog.html" class="nav-link">وبلاگ</a>
        </li>
        <li class="nav-item">
          <a routerLink="contact" class="nav-link">تماس با ما</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<footer class="ftco-footer" style="direction: rtl; text-align: right">
  <div class="container">
    <div class="row mb-5 justify-content-between">
      <div class="col-sm-12 col-md-5">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2 mb-4 logo">
            <a href="#">اپــــلای فــای</a>
          </h2>
          <p class="mb-4">
            اپلای فای یک استارتاپ در حوضه امور مربوط به مهاجرت تحصیلی و کاری
            میباشد که با بهره گیری از تکنولوژی نرم افزار و علم هوش مصنوعی به
            افرادی که قصد مهاجرت دارند کمک میکند.
          </p>
          <h2 class="ftco-heading-2 mb-4">شبکه های اجتماعی ما</h2>
          <ul class="ftco-footer-social list-unstyled mt-2">
            <li class="ftco-animate">
              <a href="#"><span class="fa fa-twitter"></span></a>
            </li>
            <li class="ftco-animate">
              <a href="#"><span class="fa fa-facebook"></span></a>
            </li>
            <li class="ftco-animate">
              <a href="#"><span class="fa fa-instagram"></span></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <h2 class="ftco-heading-2 mb-4">لینک های مفید</h2>
        <div class="row">
          <div class="col-md-4">
            <div class="ftco-footer-widget">
              <ul class="list-unstyled">
                <li><a href="#">خانه</a></li>
                <li><a href="#">خدمات</a></li>
                <li><a href="#">همکاری با ما</a></li>
                <li><a href="#">درباره ما</a></li>
                <li><a href="#">بلاگ</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="ftco-footer-widget">
              <ul class="list-unstyled">
                <li><a href="#">حریم خصوصی</a></li>
                <li><a href="#">سوالات متداول</a></li>
                <li><a href="#">موقعیت های شغلی</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid px-0 py-5 bg-black">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p class="mb-0" style="font-size: 12px">
            تمامی حقوق مادی و معنوی این اثر نزد صاحب آن محفوظ میباشد
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
